<html>
<head>
    <title>Mudstore</title>
</head>
<body>
<div id='MudStore Home' align='left'><H1>MudStore<H1></div>
<div id='MudStoreWelcome' >Welcome $user.Name</div>	
<form name="registration" id="registration" method="POST" action="doLogin">
	<table cellspacing="0" cellpadding="0" border="0" align="center">
		<tbody>
		<tr>
			<td>
				Products
			</td>
		</tr>
		#foreach($product in $products)
		<tr>
			<td>
				<a href="product/$product.Id"><H3>$product.Name</H3></a>
			</td>
		</tr>
		#end
		</tbody>
	</table>
	</P>
	</form>
</body>
</html>
	