<html>
<head>

	 <script src="/MudStore/resources/js/jquery-1.11.1.min.js"></script>	
	 #[[
	 <script type="text/javascript">
		 
		$(document).ready(function(){
			$("#button").click(		
			 function () {
				 var priceUrl= "/MudStore/product/1/price"
				   $.ajax({
			           	 url 	: priceUrl,
			           	 success: function(data) {
			           		$("#price").html("price: Rs "+data) 		
			            },
			            error:function(status){
			            alert('in error');}
			        }); 
	    		});});
		
    		function addToCart(productId) {
			 var addToCartURL= "/MudStore/cart"
			   $.ajax({
		           	 url 	: addToCartURL,
		           	 type	: "POST",
		           	 data	: "productId=1&cartId=1",
		           	 success: function(data) {
		           		$("#price").html(data)	
		            },
		            error:function(status){
		            alert('in error');}
		        }); 
    		}
 </script>
 ]]#
    <title>Mudstore</title>
</head>
 
 
<body>
<div id="msgid"></div>
	#set ( $image= $product.id +".jpg")
<P id='MudStore Home' align='left'><H1>MudStore<H1></P>
	<table>
	<TR>
		<TD>
			<table border="1">
				<tr>
					<td>Name:</td>
					<td>$product.Name</td>
				</tr>
				<tr>
					<td>Type:</td>
					<td>$product.Type</td>
				</tr>
				<tr>
					#set ( $productPriceURL="product/"+$product.Id+"/price")
					<td>
						<form>
							<input type="button" id="button" name="Price" value="Price" />
							<input type="button" id="button2" name="addProductToCart" value="Add to cart" onclick="addToCart($product.Id)"/>
						</form>
					</td>
				
					
				</tr>
			</table>
		</TD>
		<TD ALIGN="LEFT">
			
			<IMG SRC="/MudStore/resources/images/products/$image"/>
		</TD>
	</TR>
	</table>
	<div id="price"></div>
</body>
</html>