<html>
<head>

     <title>Mudstore</title>
</head>
 	 <script type="text/javascript">
		 function getPrice(id) {
			alert("hello"+id);
		}
 </script>

 
<body>
<P id='MudStore Home' align='left'><H1>MudStore<H1></P>
	<table>
	<TR>
		<TD>
			<table border="1">
				<tr>
					<td>Name:</td>
				</tr>
				<tr>
					<td>Type:</td>
				</tr>
				<tr>
				
					<td><form><input type="button" name="Price" value="Price" onclick="getPrice(1)"/></form></td>
				
					<div id="result"></div>
				</tr>
			</table>
		</TD>
		<TD ALIGN="LEFT">
			
			<IMG SRC="/MudStore/resources/images/products/$image"/>
		</TD>
	</TR>
	</table>
</body>
</html>